<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Voice Example</a>
    </div>
    <div>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          {{#power-select
            options=accountContent
            selected=currentAccount
            searchEnabled=false
            searchField="name"
            placeholder="Filter By Account"
            triggerClass="ember-tabular-ember-power-select select-kind"
            onchange=(action (mut currentAccount))
            as |item|}}
              {{item.account.name}}
          {{/power-select}}
        </div>
      </form>
    </div>
    <p class="navbar-text navbar-right navbar-right-adjust">
      {{#link-to "logout"}}Logout{{/link-to}}
    </p>
  </div>
</nav>

<div class="container">
  {{partial "partials/alerts"}}
</div>

{{#if currentAccount}}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{#bs-tab as |tab|}}
          {{#tab.pane title="Make Call"}}
            {{#bs-form formLayout="vertical" model=this onSubmit=(action "makeCall") as |form|}}
              {{#form.element label="Caller ID" placeholder="Caller ID" property="callerId" as |el|}}
                {{#power-select
                  options=callerIdContent
                  selected=callerId
                  searchField="subject"
                  placeholder="Please select Caller ID"
                  triggerClass="callerId"
                  onchange=(action (mut callerId))
                  as |caller|}}
                    {{if caller.label (concat caller.label " - ")}}{{caller.phoneNumber}}
                {{/power-select}}
              {{/form.element}}
              {{#form.element label="Your Number" id="from" property="from" as |el|}}
                {{app-input-phone value=el.value type="tel" class="form-control phone" oninput=(action (mut el.value) value="target.value") onchange=(action (mut el.value) value="target.value") id=el.id}}
              {{/form.element}}
              {{#form.element label="Dial Number" id="to" property="to" as |el|}}
                {{app-input-phone value=el.value type="tel" class="form-control phone" oninput=(action (mut el.value) value="target.value") onchange=(action (mut el.value) value="target.value") id=el.id}}
              {{/form.element}}
              {{bs-button defaultText="Call" type="primary" buttonType="submit"}}
            {{/bs-form}}
          {{/tab.pane}}
          {{#tab.pane title="Records"}}
            {{#ember-tabular modelName="call" columnOrder=columnOrder staticParams=staticParams sort=sort isColumnSelect=false as |et|}}
              {{et.column property="direction" list=listDirection isCustom=false class="text-capitalize"}}
            {{/ember-tabular}}
          {{/tab.pane}}
        {{/bs-tab}}
      </div>
    </div>
  </div>

{{/if}}
